body {
  background: url('./weirwood-tree.jpeg') no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.App {
  text-align: center;

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**************CONNECT 4 HOUSES CSS***********************************************************/

.masterGrid {
  /* this should be a percentage of the screen width */
  width:70vh;    
  margin: auto;
  display:grid;
  grid-template-rows: 10% 100%;

}
.dropArea {
  /* height: 20px; */
  border:2px green solid;
  width:100%;
  position: relative;
}
.coinToDrop {
  height:30px;
  width:30px;
  background-color:purple;
  position: absolute;
  top:0;
}
.setwidthhere {
  z-index: -5;
  width:100%;
  /* margin: auto; */
  position: relative;
    /* background-image: url('./imgs/rockwall.png'); */
    object-fit: cover;

}

/* RIGHT NOW NOT BEING USED....
   AND IMAGE TAG IS BEING USING INSTEAD */
.overlaydiv {
  background-image: url('./imgs/rockwall.png');
  /* z-index: 5; */
  /* width:100%; */
  /* object-fit: cover; */
  /* background-repeat: none; */
  position: relative;
  /* top:0; */
  /* left:0; */
}
.connect4housesBoard {
  /* border:5px solid black; */
  width:100%;
  display: grid;
  /* there are 7 colums, 6 rows */
  grid-template-columns: repeat(7, 14.2857%);
  background-image: url('./imgs/rockwall.png');
  background-repeat: no-repeat;
  background-size: cover;

  /* position: absolute;
  top:0;
  left:0; */
  /* uncomment this once we get the drop working... */
  /* this will pull the image on top...but when we do that, the cells are no longer clickable */

  /* z-index: -5; */
 
 }
 div .connect4housesSquare {
  /* border: 2px blue solid;  */
  width:100%;
  max-height:100%;
}

 .connect4housesSquare img {
  width:100%;
  /* otherwise the default it inline...and img inline has a 3px's like text would between the rows...*/
  display:block;   
  z-index:-5;
}

/**************TIC TAC TYRION CSS *************************************************************/


a {
  text-decoration: none;
  color: black;
}


.tic-tac-tyrion-container {
  display: flex;
  align-items: top;
  justify-content:space-evenly;
  /* align-items: center; */

}
.ticTacToeBoard  {
  /* border: 5px solid black; */
  width:35%;
  /* height:500px; */
  /* display: inline-grid; */
  display:grid;
  /* justify-items: center; */
  /* margin:auto; */
  grid-template-columns: repeat(3, 33.33%);
  /* grid-auto-rows: 1fr; */
  grid-column-gap: none;

}

/* we may change this so the size is flexible... which would mean the div for the board has to be 
forced to a square size.... */
.ticTacToeSquare {
  /* width:100%;
  height:8rem;
  padding-top:10%;   */
  /* forces square shape */
  /* padding-bottom:10%; */
  /* margin: 0 auto; */
  /* font-size:10vw; */
  border:2px black solid;
  background-color: rgba(0,0,0,.2);
}

.ticTacToeSquare img {
  width:100%;
}

.flipped {
  transform: scaleX(-1);
}
button {
  padding: 10px;
  font-size: 20px;
  /* margin: 20px; */
  color: white;
  background: rgba(0,0,0,.7);
}
.playerTurn {
  color: white;
  background-color: rgba(0,0,0,.7);
  text-align:center;
  padding: 5px;
}
.player-div {
  width: 171.29px;
}
h3 {
  font-weight: normal;
  margin: 18.72px 0;
  padding: 5px;
  color: white;
}

.result {
  color: white;
  width: 50%;
	height: 45px;
  background-color: rgba(0,0,0,.7);
  padding: 10px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.pulse {
  color: white;
  background: rgba(0,0,0,.7);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,.7);
  animation: pulse 1.5s infinite;
  margin: 20px;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,.7);;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,.0);;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,.0);;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255,.7);;
    box-shadow: 0 0 0 0 rgba(255,255,255,.7);;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255,.0);;
      box-shadow: 0 0 0 10px rgba(255,255,255,.0);;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255,.0);;
      box-shadow: 0 0 0 0 rgba(255,255,255,.0);;
  }
}